
.card_container {
    margin: 20px;
    padding: 10px 15px;
    width: 180px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff00;
    color: #4c508e;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 22px;
}

.card_container:hover {
    background-color: #ffff00d3;
    cursor: pointer;
}

.card_container:active {
    background-color: #125363;
    color: #ffff00;
}